<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Games</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
  </head>
  <body>
    <!-- Aqui será o cabeçalho da página -->
    <header>
      <h1 style="text-align: center">The Games</h1>
      <hr />
    </header>

    {% block content %}
    <!-- Aqui irá o conteúdo das outras páginas -->
    {% endblock content %}

    <!-- Aqui será o rodapé da página -->
    <footer>
      <hr />
      <p style="text-align: center">Todos os direitos reservados &reg;</p>
    </footer>
  </body>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>
